@using GroceryChefClient.UI.Dtos.Users
@inject UserService userService
<AuthorizeView>
    <Authorized>
        @if (userDto is null)
        {
            <span>Loading...</span>
            @GetCurrentUserAsync()
        }
        else
        {
            <span>Welcome, @(userDto?.Name ?? string.Empty) <a href="/Logout">Logout</a></span>
        }
    </Authorized>
    <NotAuthorized>
        <a href="/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private UserDto? userDto;

    private async Task GetCurrentUserAsync()
    {
        userDto = await userService.GetCurrentUserAsync();
        StateHasChanged();
    }
}
