@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        @if (isLoading)
        {
            <span>Loading...</span>
        }
        else if (userDto is not null)
        {
            <span>Welcome, @(userDto?.Name ?? string.Empty) <a href="/Logout">Logout</a></span>
        }
    </Authorized>
    <NotAuthorized>
        <a href="/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private UserDto? userDto;
    private bool isLoading = true;

    [Inject]
    private UserService userService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        userDto = await userService.GetCurrentUserAsync();
        isLoading = false;
    }
}
