@inherits LayoutComponentBase

<div class="bb-page">
    <AuthorizeView>
        <Authorized>
            <Sidebar @ref="sidebar"
                     IconName="IconName.Basket3Fill"
                     Title="Grocery Chef"
                     DataProvider="SidebarDataProvider" />
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>

@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "2", Href = "/ingredients", IconName = IconName.PlusSquareFill, Text = "Ingredient"},
            new NavItem { Id = "3", Href = "/recipes", IconName = IconName.PlusSquareFill, Text = "Recipe"},
        };

        return navItems;
    }
}